<!-- Start Bradcaump area -->
<div
  class="ht__bradcaump__area"
  data--black__overlay="6"
  style="background: rgba(0, 0, 0, 0) url(/images/bg/{{breadCramps.img}}) no-repeat scroll center center / cover ;"
>
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">{{breadCramps.title}}</h2>
            <nav class="bradcaump-inner">
              {{#each breadCramps.prev}}
                <a
                  class="breadcrumb-item"
                  href="/{{this.prevLink}}"
                >{{this.prevPage}}</a>
                <span class="brd-separetor">-</span>
              {{/each}}
              <span class="breadcrumb-item active">{{breadCramps.title}}</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->