<!DOCTYPE html>
<html lang="en" style="margin: 0;padding: 0;border: 0;">
<head style="margin: 0;padding: 0;border: 0;">
    <meta charset="UTF-8" style="margin: 0;padding: 0;border: 0;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" style="margin: 0;padding: 0;border: 0;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="margin: 0;padding: 0;border: 0;">
    <style type="text/css" style="margin: 0;padding: 0;border: 0;"></style>
</head>
<body style="margin: 0 auto;padding: 2%;border: 0;background-color: #cdcdcd;font-size: 16px;max-width: 800px;color: #565859;">
    <div class="wrapper" style="margin: 0;padding: 0;border: 0;background-color: #f6faff;">
        <header class="headerz" style="margin: 0;padding: 0;border: 0;">
            <div class="headerz__cont" style="margin: 2%;padding: 0;border: 0;float: left;">
                <img src="{{baseurl}}/images/logo/ASCENTIA LOGO-1.png" alt="logo" title="logo" style="margin: 0;padding: 0;border: 0;width: 154px;height: 49px;display: block;">
            </div>
            <div class="headerz__text" style="margin: 3% 6% 0 0;padding: 0;border: 0;width: fit-content;float: right;">
                <h1 style="margin: 0;padding: 0;border: 0;">Support Request</h1>
            </div>
            <div class="headerz__line" style="margin: 0 auto;padding: 0;border: 0;width: 98%;height: 1px;background-color: #d1d3d4;clear: both;"></div>
        </header>
        <div class="content" style="margin: 0;padding: 5%;border: 0;">
            <div class="context__cont" style="margin: 0;padding: 0;border: 0;">
                <p class="content__text content__text--bold" style="margin: 0;padding: 0;border: 0;margin-bottom: 1%;display: inline-block;color: #da762f;font-weight: bold;">Name:</p>
                <p class="content__text" style="margin: 0;padding: 0;border: 0;margin-bottom: 1%;display: inline-block;">{{name}}</p>
            </div>
            <div class="context__cont" style="margin: 0;padding: 0;border: 0;">
                <p class="content__text content__text--bold" style="margin: 0;padding: 0;border: 0;margin-bottom: 1%;display: inline-block;color: #da762f;font-weight: bold;">Email:</p>
                <p class="content__text" style="margin: 0;padding: 0;border: 0;margin-bottom: 1%;display: inline-block;">{{email}}</p>
            </div>
            <div class="context__cont" style="margin: 0;padding: 0;border: 0;">
                <p class="content__text content__text--bold" style="margin: 0;padding: 0;border: 0;margin-bottom: 1%;display: inline-block;color: #da762f;font-weight: bold;">Subject:</p>
                <p class="content__text" style="margin: 0;padding: 0;border: 0;margin-bottom: 1%;display: inline-block;">{{subject}}</p>
            </div>
            <div class="banner" style="margin: 0;padding: 0;border: 0;margin-top: 3%;width: 851px;height: 464px;">
                <img src="{{baseurl}}/images/about/1.png" alt="banner" title="banner" style="margin: 0;padding: 0;border: 0;width: 100%;display: block;">
            </div>
            <p class="content__message" style="margin: 0;padding: 0;border: 0;margin-top: 4%;line-height: 1.5;">{{message}}</p>
        </div>
    </div>
</body>
</html>